<include file="Public/head"/>
<script src="__PUBLIC__/admin/js/laydate/laydate.js"></script>
<title>资讯列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 订单列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">	
	<div class="cl pd-5 bg-1 bk-gray mt-20">   <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
	<div class="text-c" style="margin-top:10px;">
	    <table cellpadding="3" cellspacing="0" class="table_98">
			 <form  method="post" id="form1">
			  <tbody>
			  <tr>
				<td>
				订单状态：<select name="trade" id="">
					<option value="0">请选择</option>
					<option value="1" <if condition="$assign['trade'] eq 1">selected</if>>已付款</option>
					<option value="3" <if condition="$assign['trade'] eq 3">selected</if>>已发货</option>
				</select>
				订单编号：<input type="text" class="input-text" name="order_sn" style="width:150px" value="{$assign['order_sn']}">
				时间范围：<input type="text" id="stime" style="width:100px" class="input-text" name="stime" size="20" value="{$assign['stime']}">
				-<input type="text" id="dtime" style="width:100px" class="input-text" name="dtime" size="10" value="{$assign['dtime']}">
				<input name="submit" class="btn btn-success" type="submit" id="submit" value="查找">
				<input type="hidden" name="state" value="0">
				<input class="btn btn-success" type="submit" value="导出" onclick="subExport()">
				</td>
			  </tr>
		  	  </tbody>
		  	  </form>
		</table>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th style="max-width:130px;">订单编号</th>
					<th style="width:80px;">下单人手机号</th>
					<th style="width:80px;">下单人姓名</th>
					<th>订单信息</th>
					<th style="width:55px">订单总价</th>
					 
					<th style="width:100px; max-width:15%">收货地址</th>
					<th style="width:40px;">收货人</th>
					<th style="width:80px;">收货人电话</th>
					<th>下单时间</th>
					<th>确定收货时间</th>
					<th style="width:36px;">操作</th>
				</tr>
			</thead>
			<tbody>
			<volist name="data" id="val" key="key">
			<tr class="text-c">
				<td>{$val.osn}</td>
				<td>{$val.mobile}</td>
				<td>{$val.realname}</td>
				<td style=" padding:0">
				<table>
					 
					<tr>
						<td style="padding:0; border-left:none">商品名称</td>
						<td style="padding:0; width:40px;">商品数量</td>
						<td style="padding:0; width:60px;">商品单价</td>
					</tr>
			 
					<tr>
						<td style="width:200px; padding:0;border-left:none">{$val.gname}</td>
						 
						<td style="padding:0">{$val.gteam_price}</td>
						<td style="padding:0">{$val.pay_num}</td>
					</tr>
					 
				</table>
				</td>
				<td>{$val.total_price}</td>
				 
				<td>{$val.address}</td>
				<td>{$val.realname}</td>
				<td>{$val.mobile}</td>
				<td>{$val['addtime']}</td>
				<td>{$val['get_goods_time']}</td>
				<td>
				<if condition="$val['trade'] eq 1">
				<a href="javascript:;" onclick="upOrderDelivery({$val.id})"><i class="Hui-iconfont">&#xe6df;</i>发货</a>
				<else/> 
				{:getTradeStatus($val['trade'])}
				</if>
				</td>

			</tr>
			</volist>
			</tbody>
		</table>
		<div id="page">{$page}</div>
	</div>
</div>
<include file="Public/js"/>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.ui.js"></script>
<script type="text/javascript">
$(function(){
	laydate({
	   elem: '#stime'
	})
	laydate({
	   elem: '#dtime'
	})
})
function subExport(){
	$('input[name=state]').val(1);
}
function upOrderDelivery(id){
layer.prompt({title:'请输入快递编号'},function(val, index){
   var ajaxData = {
   	url:'{:U("Order/up_trade")}',type:'post',dataType:'json',data:{id:id,delivery_sn:val},
   	beforeSend:function(data){ layer.load(2)},
   	success:function(data){
   		layer.closeAll();
   		if(data.status==1){
   			setTimeout('location.reload()',2000);
   		}
   		layer.msg(data.msg, {
		   icon: data.status,
		   shade: 0.5,
		   time: 2000
		});
   	}
   };
   $.ajax(ajaxData);
});
}
</script>
</body>
</html>