<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="baidu-site-verification" content="brSKk1xvoHM7I577">
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<title>充值明细</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
</head>
<body>
<div class="warp">
	<div class="rech">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<th width="70%">时间</th><th width="30%">金额</th>
			</tr>
			<tr>
				<td>2017-11-13 10:10:10</td><td>50.00</td>
			</tr>
			<tr>
				<td>2017-11-13 10:10:10</td><td>50.00</td>
			</tr>
			<tr>
				<td>2017-11-13 10:10:10</td><td>50.00</td>
			</tr>
		</table>
	</div>
</div>



</body>
</html>