<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="baidu-site-verification" content="brSKk1xvoHM7I577">
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<title>我的店铺</title>
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
</head>
<body style="background:#f2f2f2">
<div class="warp">
	<div class="shop">
		<ul>
			<li><a href="{:U('User/details')}">
				<p class="title">设备编号：121234</p>
				<p class="add">经营地址：湖南省长沙市雨花区湖南省长沙市雨花区湖南省长沙市雨花区</p>
				<p class="bot"><img src="__PUBLIC__/images/not_10.png">今日营业额：</p>
			</a></li>
		</ul>
	</div>
</div>
<include file="Public/js"/>

</body>
</html>