<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="-1" http-equiv="Expires">           
<meta content="no-cache" http-equiv="Cache-Control">           
<meta content="no-cache" http-equiv="Pragma">
<meta name = "format-detection" content = "telephone=no">
<title>提现</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/wallet.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/footer.css">
</head>
<body style="background:#f2f2f2;">
<div class="main">
  <div class="with">
    <div class="with_top">提现到银行卡</div>
    <div class="with_con">
      <p class="title">{$user.bank_user}({$user.realname})</p>
      <input type="text" class="w_input" id="money" placeholder="请输入提现金额">
      <p class="tit">可提现余额{$user.balance}</p>
    </div>
    <div class="with_fot"><a href="javascript:;" onclick="user_cash()">提现</a></div>
  </div>
  <!-- 底部footer -->
  <include file="Public/footer"/>
</div>


 

<include file="Public/js" />
<script type="text/javascript">
function user_cash()
{
  var money = $.trim($('#money').val());
  if(money < 1){
    layer.msg('提现金额必须大于1');
    return;
  }
  var ajaxData = {
    url:'{:U("User/withdrawals")}',type:'post',dataType:'json',data:{money:money},
    beforeSend:function(data){layer.load(2)},
    success:function(data){
      layer.closeAll();
      if(data.status == 1) setTimeout('location.reload()',2000);
      layer.msg(data.msg, {icon: data.status,shade: 0.5,time: 2000,closeBtn:1});
    }
  }
  $.ajax(ajaxData);
}
</script>

</body>
</html>

