<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="-1" http-equiv="Expires">           
<meta content="no-cache" http-equiv="Cache-Control">           
<meta content="no-cache" http-equiv="Pragma">
<meta name = "format-detection" content = "telephone=no">
<title>提现</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/wallet.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/footer.css">
</head>
<body style="background:#f2f2f2;">
<div class="main">
  <div class="with">
    <div class="with_top">提现到银行卡</div>
    <div class="with_con">
      <p class="title">中国建设银行(张三)</p>
      <input type="text" class="w_input" placeholder="请输入提现金额">
      <p class="tit">可提现余额1200.00</p>
    </div>
    <div class="with_fot"><a href="javascript:;">提现</a></div>
  </div>
  <!-- 底部footer -->
  <include file="Public/footer" />
</div>


<!-- <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/layer.js"></script> -->

<include file="Public/js" />


</body>
</html>

