#page{text-align: center;}
.current{
	padding: 0px 3px;
	border: 2px solid #2D6DCC;
}
.num{
	padding: 0px 5px;
}
.s_select{
	height: 31px;  
	width: 120px;      
	border: 1px solid;    
	border-color: #adadad #e0e0e0 #e0e0e0 #adadad;    
	font: 12px/18px Arial, "宋体";    
	vertical-align: middle; 
	outline: none;
}