<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="-1" http-equiv="Expires">           
<meta content="no-cache" http-equiv="Cache-Control">           
<meta content="no-cache" http-equiv="Pragma">
<meta name = "format-detection" content = "telephone=no">
<title>
    <if condition="$user['pid'] EQ $user['uid'] OR $user['uid'] gt 1"> 团详情 <else/> 参与拼团 </if>
</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/group.css?v=1">
<include file="Public/js" />
</head>
<body style="background:#f2f2f2;">
<div class="main">
  <div class="r_details">
    <div class="rd_con">
        <ul>
            <li>
                <div class="img">
                    <a href="javascript:;"><img src="{$data['gimg']}"></a>
                </div>
                <div class="right">
                    <p class="title">{$data["gname"]}</p>
                    <p class="tit">￥<em>{$data["gteam_price"]}</em>/件<span>￥{$data["gprice"]}</span></p>
                </div>
                <div class="clearboth"></div>
            </li>
        </ul>
    </div>

    <div class="ils_top">
    	<h3>拼团剩余<span>{$data["gnum"]-$data["gpay_num"]}</span>件</h3>
    	<div class="it_con"><em style="width:{:turnDecimal($data['gpay_num']/$data['gnum'])*100}%;"></em></div>
    	<div class="title"><img src="__PUBLIC__/images/rp_yt.png">已团{$data["gpay_num"]}件，还差{$data["gnum"]-$data["gpay_num"]}件。</div>
    	<div class="tit">快邀请好友一起来拼团吧！</div>
    </div>
    <div class="ils_con">
    	<h3><em></em>拼团详情</h3>
    	<ul>
            <volist name="data.order_detail" id="val">
    	    	<li>
    	    		<p class="bt">{$val["mobile"]}</p><p class="right">{$val["paytime"]} 参团</p>
                    <!-- 开团Or参团 -->
    	    	</li>
            </volist>
    	</ul>
    </div>
    <div class="ils_bot">
    	<h3><em></em>拼团玩法</h3>
    	<ul>
    		<li>
    			<em>1</em>
    			<p>选择<br>心仪商品</p>
    		</li>
    		<li>
    			<em>2</em>
    			<p>支付开团<br>或参团</p>
    		</li>
    		<li>
    			<em>3</em>
    			<p>邀请好友<br>参团支付</p>
    		</li>
    		<li>
    			<em>4</em>
    			<p>达到件数<br>团购成功</p>
    		</li>
    	</ul>
    </div>
    <div class="ils_fot">
    	<ul>
            <eq name="share" value="1">
            <li class="left"><a href="{:U('Index/group',['gid'=>$data['grid']])}">我要参团</a></li>
    		<else/>
            <li class="left"><a href="javascript:;" onClick="toshare();">快邀请好友参团吧</a></li><!--   -->
            </eq>
    		<li class="right"><a href="{:U('Index/index')}">
    			<div class="img"><img src="__PUBLIC__/images/p_foot11.png"></div>
    			<p>拼采廉</p>
    		</a></li>
    	</ul>
    </div>
  </div>
<div class="c-share">
  <div class="m_con">
    <div class="img"><img src="__PUBLIC__/images/inv_01.png"></div>
  </div>
  <div class="a-share-foot">
    <ul>
        <li><a href="javascript:;"   class="a_foot">我知道了</a></li>
        <li><a href="javascript:;" onclick="go_share()">生成邀请二维码</a></li>
    </ul>
  </div>
</div>
</div>
 

<script type="text/javascript">
function go_share(){
    var ajaxData = {
        type:'post',dataType:'json',url:'{:U("Group/get_group_sahre")}',data:{grid:'{$data.grid}'},
        beforeSend:function(data){layer.load(2)},
        success:function(data){
            layer.closeAll();
            if(data.status == 1){
                location.href=data.url;
                return;
            }
            layer.msg(data.msg);
        }
    }
    $.ajax(ajaxData);
} 
</script>
<script type="text/javascript">
//点击弹窗
    function toshare(){
        $(".c-share").addClass("am-modal-active"); 
        if($(".sharebg").length>0){
          $(".sharebg").addClass("sharebg-active");
        }else{
          $("body").append('<div class="sharebg"></div>');
          $(".sharebg").addClass("sharebg-active");
        }
        $(".shareb-active,.share_btn,.a_foot").click(function(){
          $(".c-share").removeClass("am-modal-active");  
          setTimeout(function(){
            $(".sharebg-active").removeClass("sharebg-active"); 
            $(".sharebg").remove(); 
          },300);
        })  
    }
</script>

</body>
</html>

