<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="-1" http-equiv="Expires">           
<meta content="no-cache" http-equiv="Cache-Control">           
<meta content="no-cache" http-equiv="Pragma">
<meta name = "format-detection" content = "telephone=no">
<title>{$sname}</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/group.css">
</head>
<body>
<div class="main">
  <div class="shop">
    <div class="shop_con">
      <ul>
        <!-- <li>
          <div class="img">
            <a href="javascript:;"><img src="__PUBLIC__/images/12.jpg"></a>
          </div>
          <p class="title">数钜宝数钜宝数钜宝数钜宝数钜宝数钜宝数钜宝数钜宝数钜宝</p>
          <p class="tit">￥<em>98.00</em>/件<span>￥128.00</span></p>
          <p class="pt"><a href="javascript:;">立即拼团</a></p>
        </li> -->
      </ul>
      <div class="clearboth"></div>
    </div>
    <div class="ping_ts">暂无更多数据...</div>
  </div>

   <!-- 底部footer -->
  <include file="Public/footer"/>

</div>

<include file="Public/js"/>
<script type="text/javascript">
var w = $(window);
var kk = true;
var pagecount = 0;
var page = 1;
window.onscroll = function()
{
  var scrollh = $(document).height();
  scrollh = scrollh-36;
  var c=document.documentElement.clientHeight || document.body.clientHeight, t=$(document).scrollTop();
  if(kk != false && (t + w.height()) >= scrollh){
    kk=false;
    page++;
    loadNews();
  }
}

loadNews();
function loadNews(){
 
  var data = '{$data}';   
  var arr = data.split('}');
  var str = arr[0]+',"page":'+page+'}'; //alert(str);
  var jsonobj = JSON.parse(str);   //{page:page,sid:"{$id}"}
  
  
  var index = layer.load(2); 
  var ajaxData = {
    url:"{:U('Index/shop')}",type:'post',dataType:'json',
    data: jsonobj,
    beforeSend:function(data){ layer.load(2) },
    success:function(data){
      layer.closeAll();
      
      if(data.status==1){
        var info = data.data;
        var len  = info.length;

        var html = '';
        for(var key in info){

          html += '<li>';
          html += '<div class="img">';
          html += '<a href="'+"{:U('Index/group','',false)}/gid/"+info[key]['id']+'"><img src="'+info[key]['gimg']+'"></a>';
          html += '</div>';
          html += '<p class="title">'+info[key]['gname']+'</p>';
          html += '<p class="tit">￥<em>'+info[key]['gteam_price']+'</em>/件<span>￥'+info[key]['gprice']+'</span></p>';
          html += '<p class="pt"><a href="'+"{:U('Index/group','',false)}/gid/"+info[key]['id']+'">立即拼团</a></p>';
          html += '</li>';
        } 
        //alert(html);
        $('div.shop_con>ul').append(html);
        
         
        if(page==1 && len==0){ kk = false; $('div.shop>.ping_ts').html('暂无数据'); }
        else{
          if(len<6){
            kk = false; $('div.shop>.ping_ts').html('没有更多...');
          }else{
            kk=true; $('div.shop>.ping_ts').html('下拉加载更多...');
          }
        }
      }else{
        kk=false; $('div.shop>.ping_ts').html('没有更多...');
      }
    }
  };
   
  $.ajax(ajaxData);
}
</script>


</body>
</html>

