<include file="Public/head"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/icheck.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/skin.css" id="skin" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/H-ui.admin.css" />

<title>供货商列表</title>

</head>

<body>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>供货商列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="page-container">



    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="r">共有数据：<strong><if condition="empty($count)">0<else />{$count}</if></strong> 条</span> </div>



    <div class="mt-20">

    <div class="text-c" style="margin-top:10px;margin-bottom:10px;">

        <table cellpadding="3" cellspacing="0" class="table_98">

             <form  method="post" id="form1">

              <tbody>

              <tr>

                <td>

                用户ID：<input type="text" name="uid" value="{$assign['uid']}" style="width:100px" class="input-text" />

                开业时间：<input type="text" id="open_stime" style="width:100px" class="input-text" name="open_stime" size="20" value="{$assign['open_stime']}" />

                - <input type="text" id="open_dtime" style="width:100px" class="input-text" name="open_dtime" size="10" value="{$assign['open_dtime']}">



                加入时间：<input type="text" id="stime" style="width:100px" class="input-text" name="stime" size="20" value="{$assign['stime']}">

                - <input type="text" id="dtime" style="width:100px" class="input-text" name="dtime" size="10" value="{$assign['dtime']}">                

                <input name="submit" class="btn btn-success" type="submit" id="submit" value="查找" onclick="$('input[name=status]').val(0)">

                <input type="hidden" name="status" value="0">

                <input class="btn btn-success" type="submit" value="导出" onclick="subExport()"> 

                </td>

              </tr>

              </tbody>

            </form>

        </table>

    </div>

        <table class="table table-border table-bordered table-bg table-hover table-sort">

            <thead>

                <tr class="text-c">

                 

                    <th>所属用户id </th>

                    <th>设备编号</th>

                    <th>省-市-区-详细地址 </th>

                    <th>店铺二维码</th>

                    <th>开业时间</th>

                    <th>加入时间</th>

                    <th>状态</th>

                    

                    <th>操作</th>

                     

                </tr>

            </thead>

            <tbody>

            <volist name="data" id="val">

            <tr class="text-c">

                <td>{$val['uid']}</td>

                <td>{$val.shop_sn}</td>

                <td>{$val.province}-{$val.city}-{$val.region}-{$val.address}</td>

                <td>{$val.qrcode}</td>

                <td>{$val.opentime}</td>

                <td>{$val.addtime}</td>

                <td>{:getShopRecordStatus($val['state'])}</td>

                <td>

                    <a style="text-decoration:none" class="ml-5" onclick="kuaidi('查看用户资料','{:U('Shop/shop_register_show',array('id'=>$val['uid']))}','900','300')" href="javascript:;" title="查看用户资料">查看</a>

                </td>

            </tr>

            </volist>

            </tbody>



        </table>

        <div id="page">{$page}</div>

    </div>

</div>

<include file="Public/js"/>

<script src="__PUBLIC__/admin/js/laydate/laydate.js"></script>

<script type="text/javascript">

//alert("{$assign['state']}");

$(function(){

    laydate({

       elem: '#stime'

    })

    laydate({

       elem: '#dtime'

    })



    laydate({

       elem: '#open_stime'

    })

    laydate({

       elem: '#open_dtime'

    })

})



function subExport(){

    $('input[name=status]').val(1);

}



    /*$(function(){

        $('.table-sort').dataTable();

    })*/

</script>

<script type="text/javascript">

    function kuaidi(title,url,w,h){

        layer_show(title,url,w,h);

    }

</script>

</body>

</html>