<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="baidu-site-verification" content="brSKk1xvoHM7I577">
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<title>店家认证</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">

</head>
<body>
<div class="warp">
	<div class="auth">
		<div class="auth_list">
			<div class="img"><img src="__PUBLIC__/images/auth1.png"></div>
			<p>认证失败，请重新提交申请</p>
		</div>
		
		<div class="auth_tj"><a href="{:U('Group/authentication')}">重新审核</a></div>
	</div>
</div>

</body>
</html>