<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="baidu-site-verification" content="brSKk1xvoHM7I577">
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<title>搜索</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/group.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/footer.css">
</head>
<body style="background:#f2f2f2">
<div class="main" style="padding:0;">
	<div class="wa_cla">
    <div class="sear">
      <a href="javascript:;"><img src="__PUBLIC__/images/st_ss.png">搜索商品</a>
    </div>
    <div class="content-list">
      <ul class="goods-class">
        <volist name="data" id="val">
          <li <EQ name="i" value="1">class="active"</EQ> id="{$val['id']}">{$val['name']}</li>
        </volist>
      </ul>
      <div class="goods-box">
        <volist name="data" id="val">

          <div class="goods-list">
              <h5 id="{$val['id']}"><em></em>{$val['name']}<!-- <a href="javascript:;">查看更多></a> --></h5>
              <div class="goods-item clearfix">
                <volist name="val.cate" id="v">
                  <a href="{:U('Group/classification',['gcid'=>$v['id']])}" id="{$v['id']}">{$v['name']}</a>
                </volist>
              </div>
          </div>  
    
        </volist>
        <!--   <div class="goods-list">
              <h5>分类1<a href="javascript:;">查看更多></a></h5>
              <div class="goods-item clearfix">
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
              </div>
          </div>
          <div class="goods-list">
              <h5>分类2</h5>
              <div class="goods-item clearfix">
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
              </div>
          </div>
          <div class="goods-list">
              <h5>分类3</h5>
              <div class="goods-item clearfix">
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
              </div>
          </div>
          <div class="goods-list">
              <h5>分类4</h5>
              <div class="goods-item clearfix">
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
              </div>
          </div>
          <div class="goods-list">
              <h5>分类5</h5>
              <div class="goods-item clearfix">
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
              </div>
          </div>
          <div class="goods-list">
              <h5>分类6</h5>
              <div class="goods-item clearfix">
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
              </div>
          </div>
          <div class="goods-list">
              <h5>分类7</h5>
              <div class="goods-item clearfix">
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
              </div>
          </div>
          <div class="goods-list">
              <h5>分类8</h5>
              <div class="goods-item clearfix">
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
              </div>
          </div>
          <div class="goods-list">
              <h5>分类9</h5>
              <div class="goods-item clearfix">
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
              </div>
          </div>
          <div class="goods-list">
              <h5>分类10</h5>
              <div class="goods-item clearfix">
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
              </div>
          </div>
          <div class="goods-list">
              <h5>分类11</h5>
              <div class="goods-item clearfix">
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
              </div>
          </div>
          <div class="goods-list">
              <h5>分类12</h5>
              <div class="goods-item clearfix">
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
                  <a href=""  target="_blank">商品</a>
              </div>
          </div> -->
      </div>
    </div>
  </div>

  <!-- 底部footer -->
</div>

<include file="Public/js" />
<!--
<script type="text/javascript">

(function () {
    var click_status='left';
    $(".goods-class li").click(function () {/*点击左边分类菜单跳转*/
        var index=$(this).index(".goods-class li");
        $(".goods-class li").removeClass('active').eq(index).addClass('active');
        GoodsBoxMove(index);
        click_status="left";
    });
    function GoodsBoxMove(index){/*实现跳转*/
        click_status="right";

        var goods_top=$(".goods-list").eq(index).position().top,sear=$(".sear").outerHeight();
        $('html,body').animate({scrollTop:(goods_top-sear)},200);
    }
    /*当左侧商品滚动当前分类时，左侧菜单亦随之变化*/
    $(window).scroll(function () {
        var win_scroltop=$(window).scrollTop(),$goods=$(".goods-list"),goods_top=null;
        for(var i=0;i<$goods.length;i++){
          console.log($(".goods-box").offset().top);
            goods_top=$goods.eq(i).position().top - $(".sear").height();
            if(win_scroltop<=goods_top){
                GoodsClassMove(i);
                break;
            }
        }
    });
    function GoodsClassMove(index) {/*左侧菜单随之变化*/
        $(".goods-class li").removeClass('active').eq(index).addClass('active');
        $(".goods-class").scrollTop($(".goods-class li").eq(index).position().top);
    }
})();

</script>
-->

<script type="text/javascript">
(function () {
    $(".goods-class li").click(function () {/*点击左边分类菜单跳转*/
        var index=$(this).index(".goods-class li");
        $(".goods-class li").removeClass('active').eq(index).addClass('active');
        GoodsBoxMove(index);
        click_status="left";
    });
    function GoodsBoxMove(index){/*实现跳转*/
        click_status="right";
        var goods_top=$(".goods-list").eq(index).position().top,goods_box_top=$(".goods-box").offset().top,sear = $(".sear").outerHeight();
        $('html,body').animate({scrollTop:(goods_top+goods_box_top-sear)},200);
    }
})();
</script>
</body>
</html>