<include file="Public/head"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/icheck.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/H-ui.admin.css" />
<title>资讯列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 店主申请列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">	

	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="r">共有数据：<strong><if condition="empty($count)">0<else />{$count}</if></strong> 条</span> </div>

	<div class="mt-20">
	<div class="text-c" style="margin-top:10px;margin-bottom:10px;">
	    <table cellpadding="3" cellspacing="0" class="table_98">
			 <form  method="post" id="form1">
			  <tbody>
			  <tr>
				<td>
			  	申请姓名：<input type="text" name="realname" value="{$assign['realname']}" class="btn">
				手机号码：<input type="text" name="mobile" value="{$assign['mobile']}" class="btn">
				申请时间：<input type="text" id="stime" style="width:100px" class="input-text" name="stime" size="20" value="{$assign['stime']}">
				- <input type="text" id="dtime" style="width:100px" class="input-text" name="dtime" size="10" value="{$assign['dtime']}">
				申请状态：<select name="state" class="s_select">
					<option value="" >请选择</option>
					<option value="0" <if condition="$assign['state'] eq '0'">selected</if>>待处理</option>
					<option value="1" <if condition="$assign['state'] eq 1">selected</if>>已通过</option>
					<option value="2" <if condition="$assign['state'] eq 2">selected</if>>未通过</option>
				</select>
				<input name="submit" class="btn btn-success" type="submit" id="submit" value="查找" onclick="$('input[name=status]').val(0)">
				<input type="hidden" name="status" value="0">
				<input class="btn btn-success" type="submit" value="导出" onclick="subExport()"> 
				</td>
			  </tr>
		  	  </tbody>
		  	  </form>
		</table>
	</div>
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
				 	<th>用户id</th> 
					<th>申请姓名</th>
					<th>电话</th>
					<th>省-市-区-详细地址</th>
					<th>留言</th>
					<th>申请时间</th>
					<th>状态</th><!-- 0(待处理)1(已通过)2(未通过)  <th>审核时间</th>-->
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			<volist name="data" id="val">
			<tr class="text-c">
				<td>{$val.uid}</td>
				<td>{$val.realname}</td>
				<td>{$val['mobile']}</td>
				<td>{$val.province}-{$val.city}-{$val.region}-{$val.address}</td>
				<td>{$val.message}</td>
				<td>{$val.addtime}</td>
				<td>{:getShopRegisterStatus($val['state'])}</td>
				<td>
					<a style="text-decoration:none" class="ml-5" onclick="kuaidi('查看员工资料','{:U('Shop/shop_register_show',array('id'=>$val['uid']))}','900','300')" href="javascript:;" title="查看用户资料">查看</a>
					<if condition="$val['grade'] eq 1"><a href="javascript:;" onClick="set_grade({$val.uid}, 1)">取消认证</a><else /><a href="javascript:;" onClick="set_grade({$val.uid})">通过认证</a></if>
				</td>
			</tr>
			</volist>
			</tbody>

		</table>
		<div id="page">{$page}</div>
	</div>
</div>
<include file="Public/js"/>
<script src="__PUBLIC__/admin/js/laydate/laydate.js"></script>
<script type="text/javascript">
//alert("{$assign['state']}");
$(function(){
	laydate({
	   elem: '#stime'
	})
	laydate({
	   elem: '#dtime'
	})
})

function subExport(){
	$('input[name=status]').val(1);
}

function kuaidi(title,url,w,h){
	layer_show(title,url,w,h);
}

function set_grade(id, unset){
    layer.confirm('确定该操作吗？', {icon: 3, title:'提示'}, function(index){
        var icon = 2;
        $.ajax({
            url:'{:U("User/set_grade")}',
            type:'post',
            dataType:'json',
            data:{id:id, state:unset},
            beforeSend:function(data){layer.load(2)},
            success:function(data){
                layer.closeAll();
                if(data.status == 1) setTimeout('location.reload()',2000);
                layer.msg(data.msg, { icon: data.status, shade: 0.5, time: 2000 });
            }
        })
    })
}
</script>
</body>
</html>