<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="baidu-site-verification" content="brSKk1xvoHM7I577">
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<title>支付成功</title>
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">

</head>
<body style="background:#f0eff5;">
<div class="warp">
	<div class="pay_succ">
		<div class="ess_top"><img src="__PUBLIC__/images/hy_03.png"></div>
		<div class="ess_tit">支付成功</div>
		<div class="ess_con"><a href="{:U('User/personal')}">返回会员中心</a></div>
	</div>
</div>
</body>
</html>