<include file="Public/head"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/icheck.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/H-ui.admin.css" />
<title>资讯列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">	

	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="r">共有数据：<strong><if condition="empty($count)">0<else />{$count}</if></strong> 条</span> </div>

	<div class="mt-20">
	<div class="text-c" style="margin-top:10px;margin-bottom:10px;">
	    <table cellpadding="3" cellspacing="0" class="table_98">
			 <form  method="post" id="form1">
			  <tbody>
			  <tr>
				<td>
			  	用户姓名：<input type="text" name="realname" value="{$assign['realname']}" class="btn">
				手机号码：<input type="text" name="mobile" value="{$assign['mobile']}" class="btn">
				注册时间：<input type="text" id="stime" style="width:100px" class="input-text" name="stime" size="20" value="{$assign['stime']}">
				- <input type="text" id="dtime" style="width:100px" class="input-text" name="dtime" size="10" value="{$assign['dtime']}">

				<input name="submit" class="btn btn-success" type="submit" id="submit" value="查找" onclick="$('input[name=state]').val(0)">
				<input type="hidden" name="state" value="0">
				<input class="btn btn-success" type="submit" value="导出" onclick="subExport()"> 
				</td>
			  </tr>
		  	  </tbody>
		  	  </form>
		</table>
	</div>
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
				 
					
					<th>姓名</th>
					<th>电话</th>
					<th>省-市-区</th>
					<th>开户银行</th>
					<th>开户支行</th>
					<th>开户卡号</th>
					<th>开户姓名</th>
					<th>注册时间</th>
					<th>操作</th>
					 
				</tr>
			</thead>
			<tbody>
			<volist name="data" id="val">
			<tr class="text-c">
			 
		
				<td>{$val.realname}</td>
				<td>{$val.mobile}</td>
				<th>{$val.province}-{$val.city}-{$val.region}</th>
				<td>{$val.bank_user}</td>
				<td>{$val.bank_address}</td>
				<td>{$val.bank_card}</td>
				<td>{$val.bank_name}</td>
				<td>{$val.addtime}</td>
				<td>
					<a style="text-decoration:none" class="ml-5" onclick="kuaidi('编辑用户资料','{:U('User/up_user_detail',array('id'=>$val['id']))}','800','450')" href="javascript:;" title="编辑用户资料">编辑</a>

					<if condition="$val['grade'] eq 1"><a href="javascript:;" onClick="set_supplier({$val.id})">设为供应商</a></if>
				</td>
			</tr>
			</volist>
			
			</tbody>

		</table>
		<div id="page">{$page}</div>
	</div>
</div>
<include file="Public/js"/>
<script src="__PUBLIC__/admin/js/laydate/laydate.js"></script>
<script type="text/javascript">
$(function(){
	laydate({
	   elem: '#stime'
	})
	laydate({
	   elem: '#dtime'
	})
})

function subExport(){
	$('input[name=state]').val(1);
}

function delUser(id){
	layer.confirm('确定删除该用户吗？', {
	  btn: ['确定','取消'] //可以无限个按钮
	  ,btn1: function(index, layero){
	  	var icon = 2;
	    $.ajax({
	    	url:'{:U("User/delUser")}',
	    	type:'post',
	    	dataType:'json',
	    	data:{id:id},
	    	success:function(data){
	    		if(data.status==1) icon = 1;
	    		layer.msg(data.msg, {
				   icon: icon,
				   shade: 0.5,
				   time: 2000
				});
				if(data.status==1) setTimeout('location.reload();',2000);
			}
		    	 
	    })
	  }
	});
}

function sub_shop(id){
	layer.confirm('确定该操作吗？', {icon: 3, title:'提示'}, function(index){
		var icon = 2;
		$.ajax({
	    	url:'{:U("User/up_user_shop_status")}',
	    	type:'post',
	    	dataType:'json',
	    	data:{id:id},
	    	beforeSend:function(data){layer.load(2)},
	    	success:function(data){
	    		layer.closeAll();
	    		layer.msg(data.msg, {icon: data.status,shade: 0.5,time: 2000});
				
			}
		    	 
	    })
	})
}

function set_supplier(id){
    layer.confirm('确定该操作吗？', {icon: 3, title:'提示'}, function(index){
        var icon = 2;
        $.ajax({
            url:'{:U("User/set_supplier")}',
            type:'post',
            dataType:'json',
            data:{id:id},
            beforeSend:function(data){layer.load(2)},
            success:function(data){
                layer.closeAll();
                layer.msg(data.msg, { icon: data.status, shade: 0.5, time: 2000 });
            }
        })
    })
}

function kuaidi(title,url,w,h){
	layer_show(title,url,w,h);
}
</script>
<script type="text/javascript">
	$(function(){
		$('.table-sort').dataTable();
	})
</script>
</body>
</html>